body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--outfit);
}

nav{
    font-family: var(--josefin);
}
:root{
    --josefin:"Josefin Sans",sans-serif;
    --poppins:"Poppins",sans-serif;
    --outfit:"Outfit",sans-serif;
}


.sideMenu.open{
    left: 0;
}

.hero {
    background-image: url("../images/hero1.png");
    font-family: var(--josefin);
}

.hero p,
.hero button {
    font-family: var(--poppins);
}

 .rate{
    font-family:var(--poppins);
 }
 .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .preloader.hide{
    display: none;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 106, 52);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


   /*about*/
   .about .content span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: rgb(255, 106, 52);
   }


   .about .content h1{
    font-weight: 500;
    font-family: var(--josefin);
   }




   .about .content p{
    color: #333;
    font-family: var(--poppins);
   }

   .about .content .trused p {
    color: #000;
   }






   /*services*/
   
   
   .services .contant span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: rgb(255, 106, 52);
   }

   .services .contant h1{
    font-family: var(--josefin);
    color: #000;
   }



   
   .services .contant p{
    font-family: var(--poppins);
    color: #333;
   }


   .services .service .servic{
    font-family: var(--poppins); 
   }

   
   
   .services .service .servic p{ 
    color: #333;
   }


     
   .services .service .servic h1{ 
    color: #000000;
   }
 