 
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffc889; 
}

::-webkit-scrollbar-thumb {
  background: #ff8800;  
}
 

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--outfit);
}

nav{
    font-family: var(--josefin);
}
:root{
    --josefin:"Josefin Sans",sans-serif;
    --poppins:"Poppins",sans-serif;
    --outfit:"Outfit",sans-serif;
}

a{
  font-family: var(--poppins);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--josefin);
}

p{
  font-family: var(--poppins);
}

.sideMenu.open{
    left: 0;
}

.hero {
    background-image: url("../images/hero1.png");
    font-family: var(--josefin);
}

.hero p,
.hero button {
    font-family: var(--poppins);
}

 .rate{
    font-family:var(--poppins);
 }

 

   /*about*/
   .about .content span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: rgb(255, 106, 52);
   }


   .about .content h1{
    font-weight: 500;
    font-family: var(--josefin);
   }




   .about .content p{
    color: #333;
    font-family: var(--poppins);
   }

   .about .content .trused p {
    color: #000;
   }






   /*services*/
   
   span{
    color: rgb(255, 106, 52);
    font-family: var(--poppins);
   }

   h1{
    color: #000;
    font-family: var(--josefin);
   }
   
   .services .contant span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: rgb(255, 106, 52);
   }

   .services .contant h1{
    font-family: var(--josefin);
    color: #000;
   }



   
   .services .contant p{
    font-family: var(--poppins);
    color: #333;
   }


   .services .service .servic{
    font-family: var(--poppins); 
   }

   
   
   .services .service .servic p{ 
    color: #333;
   }


     
   .services .service .servic h1{ 
    color: #000000;
   }
 

   .secs .content p{
    font-family: var(--poppins);
   }




   .secs .content .sec div h4{
    font-family: var(--josefin);
   }