
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffc889;
}

::-webkit-scrollbar-thumb {
  background: #E3B419;  
}

 

.recidency .recidencia .content{
  display: flex;
  font-family: var(--poppins);
  flex-direction: column;
  gap: 2vmin !important;
}

  .recidencia {
  display: flex;
  font-family: var(--poppins);
  flex-direction: column;
  gap: 2vmin !important; 
}
.recidency button{
  font-family: var(--poppins);
}
/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: visible;
}

.preloader::before {
  content: '';
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid #E3B419;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Preloader animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide content until preloader is done */
.content {
  display: none;
}

/* Show content after preloader */
body.loaded .preloader {
  display: none;
}

body.loaded .content {
  display: block;
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--outfit);
}

nav{
    font-family: var(--josefin);
}
:root{
    --josefin:"Josefin Sans",sans-serif;
    --poppins:"Poppins",sans-serif;
    --outfit:"Outfit",sans-serif;
}

a{
  font-family: var(--poppins);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--josefin);
}

p{
  font-family: var(--poppins);
}

.sideMenu.open{
    left: 0;


  }
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("../images/a-photo-of-a-luxury-flat-that-is-fully-f_OroWkt2hSe2rSe5SALQlvw_88sL4WXIT_KwyTkKw1V9LA.jpeg.jpg"); /* Set initial background image */
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; /* Smooth fade transition for background image */
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero .content {
    position: relative;
    z-index: 10;
  }
  
  
  .hero .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/hero2.png");
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
  }
  

.hero p,
.hero button {
    font-family: var(--poppins);
}

 .rate{
    font-family:var(--poppins);
 }

 

   /*about*/
   .about .content span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: #E3B419;
   }


   .about .content h1{
    font-weight: 500;
    font-family: var(--josefin);
   }




   .about .content p{
    color: #333;
    font-family: var(--poppins);
   }

   .about .content .trused p {
    color: #000;
   }






   /*services*/
   
   span{
    color: #E3B419;
    font-family: var(--poppins);
   }

   h1{
    color: #000;
    font-family: var(--josefin);
   }
   
   .services .contant span{
    letter-spacing: 2px;
    font-family: var(--poppins);
    color: #E3B419;
   }

   .services .contant h1{
    font-family: var(--josefin);
    color: #000;
   }



   
   .services .contant p{
    font-family: var(--poppins);
    color: #333;
   }


   .services .service .servic{
    font-family: var(--poppins); 
   }

   
   
   .services .service .servic p{ 
    color: #333;
   }


     
   .services .service .servic h1{ 
    color: #000000;
   }
 

   .secs .content p{
    font-family: var(--poppins);
   }




   .secs .content .sec div h4{
    font-family: var(--josefin);
   }



   .counting h2{
    font-family: var(--poppins);
   }


   
   .counting span{
    font-size: 1.1em;
    color: white;
    font-family: var(--poppins);
   }

   
#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

 




/* Add fade-in animation for images */
.slider-container {
  position: relative;
  width: 100%;
  height: 400px; /* Set height for your slider */
  overflow: hidden;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade {
  animation: fadeInOut 12s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


marquee{
  display: flex;
}
marquee h1 {
  font-family: "Poppins",sans-serif;
  font-size: 5em;
  color: #E3B419;
  font-weight: 600;
}




/* #rate{
  background-image: url("../images/+.mp4");
} */



 
.projects{
  cursor: grab;
}